* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .bg-black, .bg-red, .bg-green, .bg-pink, .bg-blue, .bg-seagreen {
  width: 100vw; 
  height: 100vh;
}
body {
  font-size: 1rem;
  background-color: white;
  color: black;
}
.bg-black {
  background-color: black;
  color: white;
}
.bg-red {
  background-color: red;
  color: white;
}
.bg-green {
  background-color: green;
  color: white;
}
.bg-seagreen {
  background-color: seagreen;
  color: white;
}
.bg-blue {
  background-color: blue;
  color: white;
}
.bg-pink {
  background-color: pink;
  color: white;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-blue {
  color: blue;
}
.text-red {
  color: red;
}
.text-green {
  color: green;
}
.btn-primary {
  padding: 10px;
  display: block; 
  background-color: #f7982d;
  color: white;
  border-radius: 9999px;
  font-size: 1.2rem;
}
.btn-2 {
  padding: 10px;
  display: block; 
  background-color: #287bc3;
  color: white;
  border-radius: 9999px;
  font-size: 1.2rem;
}