* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100vw; 
  height: 100vh;
}
body {
  font-size: 1rem;
  background-color: white;
  color: black;
}
.bg-black {
  background-color: black;
  color: white;
}
.bg-red {
  background-color: red;
  color: white;
}
.bg-green {
  background-color: green;
  color: white;
}
.bg-seagreen {
  background-color: seagreen;
  color: white;
}
.bg-blue {
  background-color: blue;
  color: white;
}
.bg-pink {
  background-color: pink;
  color: white;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-blue {
  color: blue;
}
.text-red {
  color: red;
}
.text-green {
  color: green;
}
.btn-primary {
  padding: 10px;
  background-color: #f7982d;
  color: white;
  border-radius: 9999px;
  font-size: 1.2rem;
}
.btn-2 {
  padding: 10px;
  background-color: #287bc3;
  color: white;
  border-radius: 9999px;
  font-size: 1.2rem;
}
.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
.w-300 {
  width: 300px;
}
.w-400 {
  width: 400px;
}
.w-500 {
  width: 500px;
}
.w-600 {
  width: 600px;
}
.w-700 {
  width: 700px;
}
.w-800 {
  width: 800px;
}
.w-900 {
  width: 900px;
}
.h-100 {
  height: 100px;
}
.h-200 {
  height: 200px;
}
.h-300 {
  height: 300px;
}
.h-400 {
  height: 400px;
}
.h-500 {
  height: 500px;
}
.h-600 {
  height: 600px;
}
.h-700 {
  height: 700px;
}
.h-800 {
  height: 800px;
}
.h-900 {
  height: 900px;
}
